<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>

  <packageSourceMapping>
    <clear />
    <packageSource key="nuget.org">
      <package pattern="Microsoft.Extensions.*" />
      <package pattern="Microsoft.EntityFrameworkCore.*" />
      <package pattern="Serilog.*" />
      <package pattern="AutoMapper.*" />
      <package pattern="FluentValidation.*" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="Moq" />
      <package pattern="xunit.*" />
      <package pattern="MaterialDesignThemes.*" />
      <package pattern="Microsoft.NET.Test.Sdk" />
    </packageSource>
  </packageSourceMapping>

  <solution>
    <disableSourceControlIntegration>true</disableSourceControlIntegration>
  </solution>

  <config>
    <dependencyVersion>Highest</dependencyVersion>
    <signatureValidationMode>require</signatureValidationMode>
    <globalPackagesFolder>packages</globalPackagesFolder>
  </config>

  <packageRestore>
    <enabled>true</enabled>
    <automatic>true</automatic>
  </packageRestore>
</configuration>